# Ignore core and contrib files if using Composer
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/vendor/
/node_modules/

# Ignore configuration and environment-specific files
/web/sites/default/settings.local.php
/web/sites/default/services.yml
/web/sites/default/files/
.env
.env.local

# Ignore Composer and NPM logs/cache
/composer.lock
/package-lock.json
/yarn.lock

# Ignore temporary and backup files
*.log
*.sql
*.sqlite
*.tar.gz
*.gz
*.zip
*.swp
.DS_Store
.idea/
.vscode/
*.bak

# Ignore DDEV
/.ddev/*
!.ddev/config.*.yaml

